NEXT_PUBLIC_SUPABASE_URL=https://hwjgetircajnlictquem.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3amdldGlyY2FqbmxpY3RxdWVtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MTY0MzcsImV4cCI6MjA5MTA5MjQzN30.NmT1Iq_PrZ-RiqgUVSQWnLfb38IKFsZANEOzVOQQPi4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3amdldGlyY2FqbmxpY3RxdWVtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTUxNjQzNywiZXhwIjoyMDkxMDkyNDM3fQ.waO1Rxx7Rlcph7vdWn0KwjH0JCxHnFiYmfZulFrmGc0
NEXT_PUBLIC_SITE_URL=http://localhost:3000
ADMIN_EMAIL=laurie@atventureplatform.com
WEBHOOK_SECRET=kies-een-geheim-wachtwoord
